// Colors
$almost-white: hsl(0, 0%, 98%);
$medium-gray: hsl(0, 0%, 41%);
$almost-black: hsl(0, 0%, 8%);

.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.centered-container {
    justify-content: center;
    align-items: center;
}

.flex-vertically-centered {
    align-items: center;
}

.grid {
    display: grid;
}

.nav-menu-btn-font-size {
    font-size: 0.9rem;
}

.cursor-pointer {
    cursor: pointer;
}